body{
    background-color: lightgreen;
}

h1{
    color: red;
}

a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 12px;
    width: auto;
}
a:hover{
    background-color: aqua;
    color: black;

}

footer{
    background: black;
    text-align: center;
    color: aqua;
}

p{
    font-size: 20px ;
    color: black;    
}

u{
    color: red;
}
b{
    color: red;
}